<a href="https://colab.research.google.com/github/omniaghazy/python-with-NTI/blob/main/day1OmniaGhazy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
d={"k1":[1,2,{"k2":["this is tricky",{"ahmed":[1,2,["hello"]]}]}]}
d["k1"][2]["k2"][1]["ahmed"][2][0]

'hello'

In [15]:

def calaculator (num1 , num2 , operater):
    if operater == "1":
        return num1 + num2
    elif operater == "2":
        return num1 - num2
    elif operater == "3":
        return num1 * num2
    elif operater == "4":
        return num1 / num2
    else:
        return "operater is not correct"

num1=int(input("enter num1 = "))

num2=int(input("enter num2 = "))

print(" number of operation")
print("1.add")
print("2.sub")
print("3.mul")
print("4.div")
operater=input("enter operater : ")


result =calaculator(num1,num2,operater)
print(f"result = {result}")

enter num1 = 45
enter num2 = 5
 number of operation
1.add
2.sub
3.mul
4.div
enter operater : 4
result = 9.0

## **lab**

1- write 3 variable and check for it's data types using type() function

In [16]:
var1= 12
var2="apple"
var3 = True
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'str'>
<class 'bool'>

- write 3 variable and take it in one line using split() function and print it

In [19]:
var1,var2,var3=input("enter 3 variable ").split()
print(f"var1 = {var1}")
print(f"var2 = {var2}")
print(f"var3 = {var3}")

enter 3 variable one two three
var1 = one
var2 = two
var3 = three

3- write program take number from user then convert it to string " casting " then print lenth of this
string using len() function

In [21]:
def toString(number):
  converted = str(number)
  print(len(converted))


toString(1111)

4

- you have number and you want to remove last k number from this number implement python
program do that and print result

In [41]:
def popk (k ,inputnumber):
  number= list(str(inputnumber))
  for i in range(k):
    number.pop(k)
  return int("".join(number))

popk(3,567890)

567

- take integer multiple number in one line using map and split then print maximum and minimum
number from it using min and max function

In [35]:
listofmap = list(map(int , input("enter number").split(",")))
print(max(listofmap))
print(min(listofmap))

enter number 34 , 45 , 67
67
34

- Write a Python program that finds the minimum of two values a and b.

In [36]:
def mini(num1,num2):
  return min(num1,num2)
mini(10,20)

10

- Write a program that reads an integer salary then:
If salary < 1000, -
Print you are poor
elif salary greater than or equal to 1000 and less than 20000 -
Print good salary
elif salary greater than or equal to 20000 -
Print you are rich

In [38]:

def readSalary(salary):
  if salary< 1000:
    print("you are poor")
  elif salary >= 1000 and salary < 20000:
    print("good salary")
  elif salary >= 20000:
    print("you are rich")


readSalary(1000)

good salary

8- Write a Python program that receives the age of the user and display whether he/she can drive a car.
If the user is above 18 years old, he/she can drive.

In [40]:
def driveORnot(age):
  if age > 18:
    return True
  else:
    return False

print(driveORnot(9))
print(driveORnot(19))

False
True